<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>form for adding new sport</h1>
    <form action="/sports/<%=foundSport._id%>?_method=PATCH" method="POST">
        sport:
        <input type="text" name="sport" value="<%=foundSport.sport%>">
<br>
        year:
        <input type="number" name="year" value="<%=foundSport.year%>" >
        <button>EDIT</button>
    </form>
    
</body>
</html>