<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>form for adding new sport</h1>
    <form action="/sports" method="POST">
        sport:
        <input type="text" name="sport">
<br>
        year:
        <input type="number" name="year" >
<br>
        isPLayed:
        yes
        <input type="radio" name="isPlayed" value="true">
        no
        <input type="radio" name="isPlayed" value="false">

<br>
        <button>Add</button>
    </form>
    
</body>
</html>