<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Form for adding a new blog</h1>
    <form action="/blogs" method="POST">
        Title:
        <input type="text" name="title" id="">
        <br>
        Author:
        <input type="text" name="author" id="">
        <br>
        Comment:
        <input type="text" name="comment" id="">
        <br>
        <button>Add</button>
    </form>
</body>
</html>