<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Displaying all the BLOGS</h1>

    <% for(let item of allBlogs){ %>
        <h1> <%=item.title%> </h1>
        <h2> <%=item.author%> </h2>
        <p> <%=item.comment%> /p>
    <% } %>

</body>
</html>